<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Primary</key>
	<integer>0</integer>
	<key>Numbers</key>
	<array>
		<string>858-335-2283</string>
	</array>
	<key>Names</key>
	<array>
		<string>Sean O&apos;Keeffe</string>
	</array>
</dict>
</plist>
